.fig {
  text-align: center;
}
header {
  height: 73px;
  margin-top: 0px;
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: -7px;
  background-color: lawngreen;
}
#home_header {
  height: 73px;
  margin-top: -18px;
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: -7px;
  background-color: lawngreen;
}
hr {
  color: rgb(2, 252, 35);
  margin-left: -6px;
  margin-right: -6px;
}
h1,h2,h3,h4 {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  
  }
 .site_name {
  text-align: center;
  background-position: center;
  }
 body {
  background-color: ivory;
 
 }
 .citata_konf {
  text-align: right;
 }
 .abr_bag {
  text-decoration: none;
  color: red;
 }
 p {
  font-size:medium;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
 }
 footer {
  background-color: lawngreen;
  margin-left: -6px;
  margin-right: -6px;
  margin-top: 1300px;
  margin-bottom: -20px;
  height: 73px;
 }
 #header {
  height: 73px;
  margin-top: -18px;
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: -7px;
  background-color: lawngreen;
  text-align: center;
 }
 #content {
  text-align: center;
  background-color: ivory;
  height: 1000px;
 }
 #s_footer {
  background-color: lawngreen;
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: -15px;
  margin-top: -18px;
  text-align: center; 
  height: 73px;
 }
 #main {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
 }
 #main_menu {
  text-align: left;
  margin-top: -25px;
  margin-left: 5px;
 }
 #zen_py {
  margin-top: 33px;
  text-align: right;
 } 
 #title {
  text-align: center;
  padding-top: 5px;
 }
button {
  background-color: rgb(15, 163, 2);
  border: none;
  width: 73px;
  height: 28px;
  border-radius: 13px;
  font-weight: bold;
}
#my_photo {
  text-align: left;
  margin-top: -43px;
  width: 350px;
  height: 400px;
}
#contact {
  text-align: left;
  width: 300px;
  margin-left: 53px;
}
#summary {
  text-align: right;
  margin-left: 350px;
  
}
#header_summary {
  height: 73px;
  margin-top: -18px;
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: -7px;
  background-color: lawngreen;
  text-align: center;
}
#main_smenu {
  text-align: left;
  margin-top: -20px;
  margin-left: 5;
}
#my_name {
  padding-top: 30px;
}
#f_nav {
  text-align: left;
}
#content_expce {
  text-align: center;
  margin-right: 333px;
  height: 1000px;
  background-color: rgb(197, 255, 202);
  margin-left: 333px;
  margin-top: -20px;
}
#cont_home {
  height: 1300px;
}