.fig {
  text-align: center;
}
header {
  height: 73px;
  margin-top: 0px;
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: -7px;
  background-color: lawngreen;
}
#home_header {
  height: 73px;
  margin-top: -18px;
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: -7px;
  background-color: lawngreen;
}
hr {
  color: rgb(2, 252, 35);
  margin-left: -6px;
  margin-right: -6px;
}
h1,h2,h3,h4 {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  
  }
 .site_name {
  text-align: center;
  background-position: center;
  }
 body {
  background-color: ivory;
 }
 .citata_konf {
  text-align: right;
 }
 .abr_bag {
  text-decoration: none;
  color: red;
 }
 p {
  font-size:medium;
  font-family:'Times New Roman', Times, serif;
 }
 footer {
  background-color: lawngreen;
  margin-left: -6px;
  margin-right: -6px;
  margin-top: 1300px;
  margin-bottom: -20px;
  height: 73px;
 }
 #header {
  height: 73px;
  margin-top: -18px;
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: -7px;
  background-color: lawngreen;
  text-align: center;
 }
 #content {
  text-align: center;
  background-color: ivory;
  height: 1000px;
 }
 #footer {
  background-color: lawngreen;
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: -15px;
  margin-top: -18px;
 
  height: 73px;
 }
 #main {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
 }
 #main_menu {
  text-align: left;
  margin-top: -30px;
  margin-left: 5;
 }
 #zen_py {
  margin-top: 33px;
  text-align: right;
 } 
 #title {
  text-align: center;
  padding-top: 10px;
 }
button {
  background-color: rgb(15, 163, 2);
  border: none;
  width: 73px;
  height: 28px;
  border-radius: 13px;
  font-weight: bold;
}